<h2 class="registration-title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, autofocus: true, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :bio, class: "form-label" %><br />
    <%= f.text_field :bio, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
      <em class="password-info">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation, class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign up", class: "btn-submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
